<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>AdOpinion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <h1>I search a brand which is  
        <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "loved.", "hated.", "asthonishing.", "ethical.", "innovative." ]'>
        </span>
      </h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="Wrapper">
        <div class="Input">
          <form id="mainForm" action="/model" method="get" onkeypress="pressEnter(event);">
            
              <input type="text" id="input" class="Input-text" placeholder="Ma marque incroyable !" name="data">
              <label for="input" class="Input-label">My brand !</label>
            
          </form>
        </div>
      </div>
      <br>
      <br>
      <h2>With <a href="https://github.com/gabrielmougard/HackathonIA"><font color="#00B7FF">AdOpinion</font></a>, fetch the right feelings for the brand !</h2>
    
    <script src="/javascripts/main.js"></script>
  </body>
</html>






